.outside_container{
    background-color: azure;
    border-radius: 35px;
    overflow: hidden;
}

.inside_container{
    padding: 20px;
}

.scroller{
    max-height: 600px;
}


*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
